* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {

    background-image: url(./banner.jpg);
    width: 1200px;
    height: 350px;
    padding-top: 180px;
    padding-left: 650px;
    margin: 0 auto;


}

h1 {}