* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./);
}

.container {
    margin: 0 auto;
    width: 1200px;
}


.header {
    height: 80px;
    display: flex;
    background-color: orange;
    justify-content: space-between;
}

.header h1 {
    float: left;
}

.header ul {
    float: right;
    display: flex;
    list-style: none;
}

.header li {
    margin: 10px;
}

.header li a {}

.header li a:hover {}

.banner {
    /* background-image: url(../../banner.jpg); */
    width: 1200px;
    height: 400px;
}

.banner img {
    vertical-align: top;
}

.two {
    display: flex;
}

.nav {
    background-color: rgb(70, 70, 233);
    width: 150px;
}

.nav ul {
    list-style: none;
}

.nav li {
    padding: 10px;
    border-bottom-style: dashed;
    border-bottom-color: white;
}

.nav li a {
    display: block;
    /* width: 120px; */
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    text-decoration: none;
}

.nav li:last-child {
    border-bottom-style: none
}

.nav li a:hover {
    background-color: green;
    color: black;
    border-radius: 20px;
}

.content {
    background-color: rgb(199, 171, 94);
    width: 1150px;
    padding: 20px;
}

.content h2 {
    background-image: url(./title_bg.png);
    width: 600px;
    height: 40px;
    text-indent: 20px;
    text-align: 40px;
    margin-bottom: 20px;
    ;
}

.content h3 {
    background-color: chocolate;
    color: yellow;
    border-left: cornflowerblue 10px solid;
    padding: 5px;
    width: 360px;
    margin-bottom: 15px;
}

.content p {}

.content img {
    
    border-radius: 20px;
    border: chartreuse 5px outset;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer h2 {}

.footer p {}