* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-self: center;
}

.content {
    width: 1200px;
}

.header {

    background-image: url(./banner.png);
    height: 250px;
    position: relative;
}

.header h1 {
    position: absolute;
    left: 250px;
    top: 70px;
}

.header ul {
    display: flex;
    list-style: none;
    position: absolute;
    right: 30px;
    top: 10px;
}

.header li {
    list-style: none;
}

.header li a {
    margin: 0 30px;
}

.header li a:hover {}

.nav {padding: 10px;
background-color: #e09b6a;}

.nav ul {
    
    display: flex;
    list-style: none;


}

.nav li {
    padding-left: 10px;

}


.nav li a {
    display: block;
    width: 160px;
    height: 60px;
    background-color: orange;
    text-align: center;
    border-radius: 40px;
    color: brown;
    line-height: 60px;
    box-shadow: 2px 2px 2px black;

}

.nav li a:hover {background-color: #000000;}

.content {background-color: rgb(231, 205, 171);}

.content h3 {}

.content p {padding: 10px;}

.content img {
    background-image: url(./ad_img.jpg);
    height: 372px;
    width: 248px;
    float: right;
    margin: 10px;

}

.footer {
    background-color: black;
color: white;
text-align: center;
padding: 20px;
margin: 0 auto;}

.footer h2 {}

.footer h4 {}